myenv/
.myenv
data/
venv/
.venv/
.mypy_cache/

__*/
DS*
DS*/
.DS_*

__pycache__/
*.pyc

.env
Git_cmd.txt

AI_Engineering_(Complete_Book).pdf

# Ignore Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Ignore other hidden files and directories
.DS_Store
.vscode/
.idea/
*.swp


# NLP / Embedding Cache Files
.vector_cache/
*.pt
*.zip
*.txt.pt

# Large Embedding Files
glove*.txt
glove*.zip

# Model Checkpoints
*.pth
*.ckpt
*.pkl
*.txt.pt

# Notebook Outputs / Generated Artifacts
*.log
*.out

